.header-container {
    position: relative;
    height: 100%;
    background: url('../../../Images/chairbg.png');
    background-size: contain;
}

.header-container::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 30%;
    background-color: rgb(42, 42, 42);
    height: 100%;
    z-index: -5;
}